.switch input {
  position: absolute;
  opacity: 0;
  width: 30px;
  height: 20px;
}

.switch {
  align-self: start;
  display: flex;
  position: absolute;
  cursor: pointer;

  left: 80%;
  top: -10px;
    
  }

  .down {
    top: 15px;
  }

  .switch input:checked+span::before {
      box-sizing: border-box;
      border: 2px solid rgb(38, 235, 38);
      content: "approve";
      color: rgb(38, 235, 38);
      
    }

  .switch span {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
  }


  .switch span::before {
    content: "not approve";
    box-sizing: border-box;
    width: max-content;
    height: 26px;
    border: 1px solid red;
    color: red;
    border-radius: 3.344px;

    position: absolute;
    
   
    }

    .disabled {
      cursor: default;
    }